.planos-card-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 70vh;
}

.planos-card-second-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  border: 1px solid black;
  height: 70vh;
}