@media only screen and (max-width: 600px) {

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 9vh;
    background-color: rgb(238, 240, 240);
 
  }

  .links-container {
    display: none;
  }

  .menu-btn {
    display: flex;
    width: 12vw;

  }

  .logo-img {
    width: 18vw;
  }
}