
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 9vh;
  background-color: rgb(238, 240, 240);

}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 9vh;

}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.links-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1050px;
  height: 30px;
  /* border: 1px solid red; */
}

.link-text {
  text-decoration: none;
  color: rgba(46, 46, 46, 0.742);
  font-family: sans-serif;
  font-weight: 600;
  font-size: 23px;
}

.link-text:hover {
  text-decoration: none;
  color: rgba(142, 15, 15, 0.742);
  font-family: sans-serif;
  font-weight: 800;
  font-size: 23px;
}

.logo-img {
  height: 100px;
  width: 100px;
}
.logo-text {
  display: flex;
  color: rgba(46, 46, 46, 0.742);
  font-size: 38px;
  font-weight: 400;
  letter-spacing: -2.5px;
}
.logo-text:hover {
  display: flex;
  color: rgba(46, 46, 46, 0.742);
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -2.5px;
}